<div class="bodyContent">
    <h1 class="mainHeading">Registration Numbers Application</h1>

    {{!-- Examples START --}}
    <section class="collapsible-section">
	<a class="collapsible-header">
		<h2>Show examples</h2>
	</a>
	<div class="collapsible-body">
		<div class="collapse-content">
			<p>CF 123 456, CFM 456-789, CAW 123456</p>
		</div>
	</div>
    </section>
    {{!-- Examples END --}}

    {{!-- Main Form START --}}
    <form action="/add_registration" method="post">
        {{#if messages.error}}
        <div class="message msgError">{{messages.error}}</div>
        {{/if}}
        <input type="text" name="txtRegNum" id="txtRegNum" class="txtRegNum" placeholder="Enter registration number">
        <input type="submit" value="Add" class="btn add">
        {{!-- Modal Dialog START--}}
        <div class="overlay hidden">
            <section class="modal hidden">
                <div>
                    <h3>Warning!</h3>
                    <p>You are about to reset the app!</p>
                </div>
                <div class="modal-buttons">
                    <button type="button" class="btn btnProceed">Proceed</button>
                    <button type="button" class="btn btn-close">Close</button>
                </div>
            </section>
        </div>
        {{!-- Modal Dialog END --}}
        <input type="button" value="Reset" class="btn btn-open">
        {{#if messages.success}}
        <div class="message msgSuccess">{{messages.success}}</div>
        {{/if}}
    </form>
    {{!-- Main Form END --}}

    {{!-- Filter Section START --}}
    <form action="/reg_numbers" method="post">
        <div class="selectedTown">{{townName}}</div>
        <select name="towns" class="regNumsTown" id="regNums">
            <option value='All'>All</option>
            {{#each townData}}
            <option value="{{this.town_name}}">{{this.town_name}}</option>
            {{/each}}
        </select>
        <input type="submit" value="Show" class="btn show">
    </form>
    {{!-- Filter Section END --}}

    {{!-- Display Section START --}}
    <section class="wrapper">
        {{#if noRegData}}
        <div class="noReg">No data to display</div>
        {{/if}}
        {{#each regNumData}}
        <a href="/reg_numbers/{{this.registration_number}}">
            <div class="box yellow">
                <p>{{this.registration_number}}</p>
            </div>
        </a>
        {{/each}}
    </section>
    {{!-- Display Section END --}}
</div>